*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
/.idea/jarRepositories.xml
/.idea/compiler.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/gradle.xml
/out/
.idea_modules/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/shared-module/build/intermediates/aar_metadata/debug/aar-metadata.properties
/shared-module/build/tmp/kotlin-classes/debugUnitTest/com/example/shared_module/AndroidGreetingTest.class
/shared-module/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
/shared-module/build/intermediates/merged_manifest/debug/AndroidManifest.xml
/shared-module/build/intermediates/packaged_manifests/debugAndroidTest/AndroidManifest.xml
/shared-module/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
/shared-module/build/intermediates/annotation_processor_list/debugAndroidTest/annotationProcessors.json
/shared-module/build/intermediates/annotation_processor_list/debugUnitTest/annotationProcessors.json
/shared-module/build/kotlin/compileDebugKotlinAndroid/build-history.bin
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/build-history.bin
/shared-module/build/intermediates/javac/debug/classes/com/example/shared_module/BuildConfig.class
/shared-module/build/generated/source/buildConfig/androidTest/debug/com/example/shared_module/test/BuildConfig.java
/shared-module/build/generated/source/buildConfig/debug/com/example/shared_module/BuildConfig.java
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/class-attributes.tab
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/class-attributes.tab
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/class-attributes.tab.keystream
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/class-attributes.tab.keystream
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/class-attributes.tab.keystream.len
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/class-attributes.tab.keystream.len
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/class-attributes.tab.len
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/class-attributes.tab.len
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/class-attributes.tab_i
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/class-attributes.tab_i
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/class-attributes.tab_i.len
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/class-attributes.tab_i.len
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i.len
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i.len
/shared-module/build/intermediates/compile_library_classes_jar/debug/classes.jar
/shared-module/build/tmp/kotlin-classes/debugUnitTest/com/example/shared_module/CommonGreetingTest.class
/shared-module/build/intermediates/incremental/mergeDebugAndroidTestResources/compile-file-map.properties
/shared-module/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/complementary-files.tab
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/complementary-files.tab.keystream
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/complementary-files.tab.keystream.len
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/complementary-files.tab.len
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/complementary-files.tab.values.at
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/complementary-files.tab_i
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/complementary-files.tab_i.len
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/lookups/counters.tab
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/lookups/counters.tab
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/lookups/file-to-id.tab
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/lookups/file-to-id.tab
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/lookups/file-to-id.tab.keystream
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/lookups/file-to-id.tab.keystream
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/lookups/file-to-id.tab.keystream.len
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/lookups/file-to-id.tab.keystream.len
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/lookups/file-to-id.tab.len
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/lookups/file-to-id.tab.len
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/lookups/file-to-id.tab.values.at
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/lookups/file-to-id.tab.values.at
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/lookups/file-to-id.tab_i
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/lookups/file-to-id.tab_i
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/lookups/file-to-id.tab_i.len
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/lookups/file-to-id.tab_i.len
/shared-module/build/tmp/kotlin-classes/debug/com/example/shared_module/Greeting.class
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/lookups/id-to-file.tab
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/lookups/id-to-file.tab
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/lookups/id-to-file.tab.keystream
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/lookups/id-to-file.tab.keystream
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/lookups/id-to-file.tab.keystream.len
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/lookups/id-to-file.tab.keystream.len
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/lookups/id-to-file.tab.len
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/lookups/id-to-file.tab.len
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/lookups/id-to-file.tab.values.at
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/lookups/id-to-file.tab.values.at
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/lookups/id-to-file.tab_i
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/lookups/id-to-file.tab_i
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/lookups/id-to-file.tab_i.len
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/lookups/id-to-file.tab_i.len
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
/shared-module/build/kotlin/compileDebugKotlinAndroid/last-build.bin
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/last-build.bin
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/lookups/lookups.tab
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/lookups/lookups.tab
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/lookups/lookups.tab.keystream
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/lookups/lookups.tab.keystream
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/lookups/lookups.tab.keystream.len
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/lookups/lookups.tab.keystream.len
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/lookups/lookups.tab.len
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/lookups/lookups.tab.len
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/lookups/lookups.tab.values.at
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/lookups/lookups.tab.values.at
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/lookups/lookups.tab_i
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/lookups/lookups.tab_i
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/lookups/lookups.tab_i.len
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/lookups/lookups.tab_i.len
/shared-module/build/intermediates/manifest_merge_blame_file/debugAndroidTest/manifest-merger-blame-debug-androidTest-report.txt
/shared-module/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
/shared-module/build/outputs/logs/manifest-merger-debug-report.txt
/shared-module/build/intermediates/incremental/mergeDebugAndroidTestResources/merger.xml
/shared-module/build/intermediates/incremental/packageDebugResources/merger.xml
/shared-module/build/intermediates/navigation_json/debug/navigation.json
/shared-module/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output-metadata.json
/shared-module/build/intermediates/packaged_manifests/debug/output-metadata.json
/shared-module/build/intermediates/packaged_manifests/debugAndroidTest/output-metadata.json
/shared-module/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
/shared-module/build/tmp/kotlin-classes/debug/com/example/shared_module/Platform.class
/shared-module/build/tmp/compileDebugJavaWithJavac/previous-compilation-data.bin
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/proto.tab
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/proto.tab
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/proto.tab.keystream
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/proto.tab.keystream
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/proto.tab.keystream.len
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/proto.tab.keystream.len
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/proto.tab.len
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/proto.tab.len
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/proto.tab.values.at
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/proto.tab.values.at
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/proto.tab_i
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/proto.tab_i
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/proto.tab_i.len
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/proto.tab_i.len
/shared-module/build/intermediates/compile_and_runtime_not_namespaced_r_class_jar/debugUnitTest/R.jar
/shared-module/build/intermediates/compile_r_class_jar/debug/R.jar
/shared-module/build/intermediates/compile_symbol_list/debug/R.txt
/shared-module/build/intermediates/local_only_symbol_list/debug/R-def.txt
/shared-module/build/tmp/kotlin-classes/debug/META-INF/shared-module_debug.kotlin_module
/shared-module/build/tmp/kotlin-classes/debugUnitTest/META-INF/shared-module_debug.kotlin_module
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/source-to-classes.tab
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/source-to-classes.tab
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/inputs/source-to-output.tab
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/inputs/source-to-output.tab
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/inputs/source-to-output.tab.keystream
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/inputs/source-to-output.tab.keystream
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/inputs/source-to-output.tab.keystream.len
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/inputs/source-to-output.tab.keystream.len
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/inputs/source-to-output.tab.len
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/inputs/source-to-output.tab.len
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/inputs/source-to-output.tab.values.at
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/inputs/source-to-output.tab.values.at
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/inputs/source-to-output.tab_i
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/inputs/source-to-output.tab_i
/shared-module/build/kotlin/compileDebugKotlinAndroid/caches-jvm/inputs/source-to-output.tab_i.len
/shared-module/build/kotlin/compileDebugUnitTestKotlinAndroid/caches-jvm/inputs/source-to-output.tab_i.len
/shared-module/shared_module.podspec
/shared-module/build/cocoapods/framework/shared-module.framework/shared-module
/shared-module/build/cocoapods/framework/shared-module.framework/Headers/placeholder.h
/shared-module/build/cocoapods/framework/shared-module.framework/Modules/module.modulemap
/shared-module/build/cocoapods/framework/shared-module.framework/Info.plist
/shared-module/shared_module.podspec
/shared-module/build/cocoapods/framework/shared-module.framework/shared-module
/shared-module/build/cocoapods/framework/shared-module.framework/Headers/placeholder.h
/shared-module/build/cocoapods/framework/shared-module.framework/Modules/module.modulemap
/shared-module/build/cocoapods/framework/shared-module.framework/Info.plist
/shared-module/shared_module.podspec
/shared-module/build/cocoapods/framework/shared-module.framework/shared-module
/shared-module/build/cocoapods/framework/shared-module.framework/Headers/placeholder.h
/shared-module/build/cocoapods/framework/shared-module.framework/Modules/module.modulemap
/shared-module/build/cocoapods/framework/shared-module.framework/Info.plist
/shared-module/shared_module.podspec
/shared-module/build/cocoapods/framework/shared-module.framework/shared-module
/shared-module/build/cocoapods/framework/shared-module.framework/Headers/placeholder.h
/shared-module/build/cocoapods/framework/shared-module.framework/Modules/module.modulemap
/shared-module/build/cocoapods/framework/shared-module.framework/Info.plist
